* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fundo {
  min-height: 100vh;
  padding: 8%;
  width: 100%;
  height: 100%;
  background: #dee1ff;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.cadastro button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 500px;
  color: white;
  background-color: #42a1a1;
  border-radius: 60px;
  border: #42a1a1;
}

#espaco {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conectar {
  color: #42a1a1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 191px;
  height: 35px;
}

#abaixo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f848c;
}

#redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.linha {
  background-color: #42a1a1;
  width: 5px;
  height: 35px;
  border-radius: 20px;
}

.google {
  border-radius: 25px;
  border: 1px #fff solid;
}

.facebook {
  border-radius: 25px;
  border: 1px #fff solid;
}
