* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
  width: 100%;
}
.area {
  display: flex;
  width: 300px;
  height: 100vh;
  background: #C4C0FB;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.icones {
  display: flex;
  align-items: center;
}

.perfil button{
  width: 4vw;
  background-color: #C4C0FB;
  border: 1px#C4C0FB solid;
}

.icons img{
  display: flex;
  width: 3vw;
  font-size: 18px;
  cursor: pointer;
}

.funcoes button{
  justify-content: flex-end;
  background-color: #C4C0FB;
  border: 1px#C4C0FB solid;
}

.Profissionais {
  width: 100%;
  flex-direction: column;
  height: 90%;
  background: #DEE1FF;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #AAA8C5
}
.lista{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #736EB3;
}
.chat-header img{
  display: flex;
  width: 20%;
  margin-bottom: 3px;
  gap: 15px;
  color: #7773B1;
}

.nomes button{
  display: flex;
  align-items: center;
  background-color: #DEE1FF;
  border: 1px #DEE1FF solid; 
  color: #7773B1;
  gap: 10px;
  margin-bottom: 4px;
  font-weight: bold;
}

.conversa {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #C4C0FB; 
  padding: 10px 11px;
  border-radius: 10px;
}

.conversa img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-10%);
  width: 50px;
  height: 50px;
}

.segundo_container {
  flex: 1;
  background: #D9F7FF;
  padding: 20px;
  width: 100%;
}
.busca {
  display: flex;
  width: 81vw;
  margin-bottom: 21px;
  width: 100%;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  color: #ffffff;
}

.busca p{
  display: flex;
  align-items: center;
  color: #A8A8A8;
}
.busca img{
  display: flex;
  width: 2vw;
}

.quadrado-roxo{
  display: grid;
  background-color: #B9BEF2;
  width: 90%;
  padding: 10px;
  margin: 20px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-left: 40px;
}

.coluna1{
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-auto-rows: 150px;
}
.card1 {
  background: #D0CDFF;
  border-radius: 12px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  height: 145px;
  border-radius: 5px;
}
.card1 img{
  display: flex;
  width: 40%;
  height: 100%;
}
.frase1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: #7672AE;
}
.cardProfissional {
  display: flex;
  text-align: center;
  background: #D0CDFF;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  height: 305px;
  color: #7672AE;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cardProfissional img{
  width: 200px;
}
.coluna2{
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-auto-rows: 150px
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  text-align: center;
  background: #F7B35E;
  font-size: 45px;
  border-radius: 5px;
  padding: 10px;
  font-weight: bolder;
  width: 100%;
  height: 145px;
  color: #994B9A;
  font-family: "Cantora One", sans-serif;
}

.coluna3{
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-auto-rows: 150px;
}
.cardmaior {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px;
  font-weight: bolder;
  color: #760306; 
  font-size: 25px;
  width: 100%;
  height: 145px;
  flex-direction: column;
  font-family: "Libre Baskerville", serif;
}
.cardcolunas{
  display: flex;
  align-items: center;
  justify-content: center; 
  text-align: center;
  background: #F5CBE3;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  height: 145px;
  color: #000000;
  flex-direction: column;
}
.cardcolunas img {
  display: flex;
  width: 40%;
  height: 100%
}

.cardDestaque {
  display: flex;
  background: #FFEEF4;
  font-size: 35px;
  width: 100%;
  height: 464px;
  color: #EB7699;
  font-weight: bold;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 13px;
  font-family: "Libre Baskerville", serif;
  flex-direction: column;
  text-align: center;
  font-weight: bolder;
  gap: 10px;
}
.cap{
  display: flex;
  color: #EB7699;
  justify-content: center;
  font-size: 10px;
}
.cardDestaque img {
  display: flex;
  width: 40%;
}
