* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  width: 100%;
}

/* MENU LATERAL */
.area {
  display: flex;
  width: 300px;
  height: 100vh;
  background: #c4c0fb;
  flex-direction: column;
  padding: 15px;
}

/* HEADER DO MENU */
.icones {
  display: flex;
  align-items: center;
}

.perfil button {
  width: 4vw;
  background-color: #c4c0fb;
  border: 1px #c4c0fb solid;
}

.icons img {
  display: flex;
  width: 3vw;
  font-size: 18px;
  cursor: pointer;
}

.funcoes button {
  justify-content: flex-end;
  background-color: #c4c0fb;
  border: 1px #c4c0fb solid;
}

/* PROFISSIONAIS */
.Profissionais {
  width: 100%;
  flex-direction: column;
  height: 90%;
  background: #dee1ff;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #aaa8c5;
}

.lista {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #736eb3;
}

/* lista de nomes */
.chat-header {
  list-style: none;
  padding: 0;
}

.chat-header img {
  display: flex;
  width: 20%;
  margin-bottom: 3px;
  gap: 15px;
  color: #7773b1;
}

.nomes button {
  display: flex;
  align-items: center;
  background-color: #dee1ff;
  border: 1px #dee1ff solid;
  color: #7773b1;
  gap: 10px;
  margin-bottom: 4px;
  font-weight: bold;
}

/* ÍCONE DO TELEFONE */
.conversa {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #c4c0fb;
  padding: 10px 11px;
  border-radius: 10px;
}

.conversa img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-10%);
  width: 50px;
  height: 50px;
}

/* CONTEÚDO PRINCIPAL */
.segundo_container {
  flex: 1;
  background: #d9f7ff;
  padding: 20px;
  width: 100%;
}

/* BUSCA */
.busca {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
  margin-bottom: 21px;
}

.pesquisa img {
  width: 4%;
}

.pesquisa input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  background: transparent;
}

/* GRID PRINCIPAL */
.quadrado-roxo {
  display: grid;
  background-color: #b9bef2;
  width: 90%;
  padding: 10px;
  margin: 20px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-left: 40px;
}

/* COLUNA 1 */
.coluna1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-auto-rows: 150px;
}

.card1 {
  background: #d0cdff;
  border-radius: 12px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  height: 145px;
}

.card1 img {
  display: flex;
  width: 40%;
  height: 100%;
}

.frase1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: #7672ae;
}

/* CARD PROFISSIONAL */
.cardProfissional {
  display: flex;
  text-align: center;
  background: #d0cdff;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  height: 305px;
  color: #7672ae;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cardProfissional img {
  width: 200px;
}

/* COLUNA 2 */
.coluna2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-auto-rows: 150px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  text-align: center;
  background: #f7b35e;
  font-size: 45px;
  padding: 10px;
  font-weight: bolder;
  width: 100%;
  height: 145px;
  color: #994b9a;
  font-family: "Cantora One", sans-serif;
}

/* COLUNA 3 */
.coluna3 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-auto-rows: 150px;
}

.cardmaior {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px;
  font-weight: bolder;
  color: #760306;
  font-size: 25px;
  width: 100%;
  height: 145px;
  flex-direction: column;
  font-family: "Libre Baskerville", serif;
}

.cardcolunas {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f5cbe3;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  height: 145px;
  color: #000;
  flex-direction: column;
}

.cardcolunas img {
  display: flex;
  width: 40%;
  height: 100%;
}

/* CARD GRANDE */
.cardDestaque {
  display: flex;
  background: #ffeef4;
  font-size: 35px;
  width: 100%;
  height: 464px;
  color: #eb7699;
  font-weight: bold;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 13px;
  font-family: "Libre Baskerville", serif;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.cap {
  display: flex;
  color: #eb7699;
  justify-content: center;
  font-size: 10px;
}

.cardDestaque img {
  display: flex;
  width: 40%;
}
