* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dee1ff;
  margin: 5%;
  zoom: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.opcoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 19px;
}

.email input {
  background-color: #67a4b4;
  border-radius: 20px;
  width: 100%;
  height: 40%;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #67a4b4 solid;
  border-top: 1px solid #67a4b4;
}

.nome-usuario input {
  background-color: #67a4b4;
  border-radius: 20px;
  width: 100%;
  height: 40%;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #67a4b4 solid;

  border-top: 1px solid #67a4b4;
}

.senha input {
  background-color: #67a4b4;
  border-radius: 20px;
  width: 100%;
  height: 40%;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #67a4b4 solid;

  border-top: 1px solid #67a4b4;
}
.mostrar-senha {
  display: flex;
  color: #67a4b4;
  gap: 20px;
}

.mostrar-senha button {
  width: 20px;
  border: 1px #67a4b4 solid;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  padding: 50px;
}

.prox button {
  background-color: #67a4b4;
  border-radius: 20px;
  width: 211px;
  height: 48px;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  border: 1px #67a4b4 solid;
}
